<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hongshitouren_i_06.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-49.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>hongshitouren_i_07.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-49.5</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>hongshitouren_i_08.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-50</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>hongshitouren_i_09.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>437</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-50</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>hongshitouren_i_10.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>582</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-50</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>hongshitouren_r_01.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>727</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-25.5</real>
				<key>offsetY</key>
				<real>-27</real>
			</dict>
			<key>hongshitouren_r_02.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>859</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>hongshitouren_r_03.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>165</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>hongshitouren_r_04.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>165</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>-26</real>
			</dict>
			<key>hongshitouren_r_05.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>165</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>-28.5</real>
			</dict>
			<key>hongshitouren_r_06.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>377</integer>
				<key>y</key>
				<integer>165</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>-25</real>
			</dict>
			<key>hongshitouren_r_07.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>165</integer>
				<key>offsetX</key>
				<real>-19.5</real>
				<key>offsetY</key>
				<real>-23.5</real>
			</dict>
			<key>hongshitouren_r_08.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>625</integer>
				<key>y</key>
				<integer>165</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>-24.5</real>
			</dict>
			<key>hongshitouren_r_09.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>754</integer>
				<key>y</key>
				<integer>165</integer>
				<key>offsetX</key>
				<real>-24.5</real>
				<key>offsetY</key>
				<real>-26.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>hongshitouren1.png</string>
			<key>realTextureFileName</key>
			<string>hongshitouren1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>