<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hongshitouren_a_01.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-50.5</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>hongshitouren_a_02.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>144</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-45.5</real>
				<key>offsetY</key>
				<real>-22</real>
			</dict>
			<key>hongshitouren_a_03.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>276</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-47</real>
				<key>offsetY</key>
				<real>-23.5</real>
			</dict>
			<key>hongshitouren_a_04.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>409</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-50.5</real>
				<key>offsetY</key>
				<real>-25</real>
			</dict>
			<key>hongshitouren_a_05.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>581</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-45</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>hongshitouren_a_06.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>734</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-64</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>hongshitouren_a_07.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>-88.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>hongshitouren_a_08.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>224</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>-88.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>hongshitouren_a_09.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>-88.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>hongshitouren_a_10.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>672</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>hongshitouren_a_11.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>441</integer>
				<key>offsetX</key>
				<real>30</real>
				<key>offsetY</key>
				<real>-46.5</real>
			</dict>
			<key>hongshitouren_a_12.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>229</integer>
				<key>y</key>
				<integer>441</integer>
				<key>offsetX</key>
				<real>41</real>
				<key>offsetY</key>
				<real>-58</real>
			</dict>
			<key>hongshitouren_a_13.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>441</integer>
				<key>offsetX</key>
				<real>41</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>hongshitouren_a_14.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>731</integer>
				<key>y</key>
				<integer>441</integer>
				<key>offsetX</key>
				<real>41.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>hongshitouren_a_15.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>602</integer>
				<key>offsetX</key>
				<real>-50.5</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>hongshitouren_h_01.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>144</integer>
				<key>y</key>
				<integer>602</integer>
				<key>offsetX</key>
				<real>-50.5</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>hongshitouren_h_02.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>602</integer>
				<key>offsetX</key>
				<real>-52.5</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>hongshitouren_h_03.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>602</integer>
				<key>offsetX</key>
				<real>-52.5</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>hongshitouren_h_04.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>574</integer>
				<key>y</key>
				<integer>602</integer>
				<key>offsetX</key>
				<real>-51.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>hongshitouren_h_05.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>716</integer>
				<key>y</key>
				<integer>602</integer>
				<key>offsetX</key>
				<real>-50.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>hongshitouren_h_06.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>858</integer>
				<key>y</key>
				<integer>602</integer>
				<key>offsetX</key>
				<real>-50</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>hongshitouren_h_07.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>767</integer>
				<key>offsetX</key>
				<real>-48.5</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>hongshitouren_h_08.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>140</integer>
				<key>y</key>
				<integer>767</integer>
				<key>offsetX</key>
				<real>-50.5</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>hongshitouren_i_01.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>284</integer>
				<key>y</key>
				<integer>767</integer>
				<key>offsetX</key>
				<real>-50.5</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>hongshitouren_i_02.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>767</integer>
				<key>offsetX</key>
				<real>-50</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>hongshitouren_i_03.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>573</integer>
				<key>y</key>
				<integer>767</integer>
				<key>offsetX</key>
				<real>-50</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>hongshitouren_i_04.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>718</integer>
				<key>y</key>
				<integer>767</integer>
				<key>offsetX</key>
				<real>-50</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>hongshitouren_i_05.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>863</integer>
				<key>y</key>
				<integer>767</integer>
				<key>offsetX</key>
				<real>-49.5</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>hongshitouren0.png</string>
			<key>realTextureFileName</key>
			<string>hongshitouren0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>