<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jiaoyuenvshen_a_01.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>jiaoyuenvshen_a_02.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>156</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-24.5</real>
				<key>offsetY</key>
				<real>-32.5</real>
			</dict>
			<key>jiaoyuenvshen_a_03.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>302</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-26</real>
				<key>offsetY</key>
				<real>-32</real>
			</dict>
			<key>jiaoyuenvshen_a_04.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>453</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-43</real>
				<key>offsetY</key>
				<real>-37</real>
			</dict>
			<key>jiaoyuenvshen_a_05.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>606</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-63</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>jiaoyuenvshen_a_06.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>779</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-68</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>jiaoyuenvshen_a_07.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>234</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-50.5</real>
			</dict>
			<key>jiaoyuenvshen_a_08.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>299</integer>
				<key>y</key>
				<integer>234</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>jiaoyuenvshen_a_09.png</key>
			<dict>
				<key>width</key>
				<integer>265</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>234</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>-52.5</real>
			</dict>
			<key>jiaoyuenvshen_a_10.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>-43.5</real>
			</dict>
			<key>jiaoyuenvshen_a_11.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-42</real>
			</dict>
			<key>jiaoyuenvshen_a_12.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>446</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-42</real>
			</dict>
			<key>jiaoyuenvshen_a_13.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>626</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>-23.5</real>
				<key>offsetY</key>
				<real>-41.5</real>
			</dict>
			<key>jiaoyuenvshen_h_01.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>788</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>jiaoyuenvshen_h_02.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>517</integer>
				<key>offsetX</key>
				<real>-32.5</real>
				<key>offsetY</key>
				<real>-42</real>
			</dict>
			<key>jiaoyuenvshen_h_03.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>144</integer>
				<key>y</key>
				<integer>517</integer>
				<key>offsetX</key>
				<real>-35.5</real>
				<key>offsetY</key>
				<real>-39.5</real>
			</dict>
			<key>jiaoyuenvshen_h_04.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>296</integer>
				<key>y</key>
				<integer>517</integer>
				<key>offsetX</key>
				<real>-36.5</real>
				<key>offsetY</key>
				<real>-40.5</real>
			</dict>
			<key>jiaoyuenvshen_i_1.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>460</integer>
				<key>y</key>
				<integer>517</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>jiaoyuenvshen_i_02.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>616</integer>
				<key>y</key>
				<integer>517</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>jiaoyuenvshen_i_03.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>772</integer>
				<key>y</key>
				<integer>517</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>jiaoyuenvshen_i_04.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>655</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>jiaoyuenvshen_i_05.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>156</integer>
				<key>y</key>
				<integer>655</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>jiaoyuenvshen_i_06.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>312</integer>
				<key>y</key>
				<integer>655</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>jiaoyuenvshen_i_07.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>468</integer>
				<key>y</key>
				<integer>655</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>jiaoyuenvshen_i_08.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>624</integer>
				<key>y</key>
				<integer>655</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>jiaoyuenvshen_r_01.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>780</integer>
				<key>y</key>
				<integer>655</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>-47.5</real>
			</dict>
			<key>jiaoyuenvshen_r_02.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>793</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>-50</real>
			</dict>
			<key>jiaoyuenvshen_r_03.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>793</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>-44</real>
			</dict>
			<key>jiaoyuenvshen_r_04.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>793</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>-47.5</real>
			</dict>
			<key>jiaoyuenvshen_r_05.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>580</integer>
				<key>y</key>
				<integer>793</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>-50</real>
			</dict>
			<key>jiaoyuenvshen_r_06.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>772</integer>
				<key>y</key>
				<integer>793</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>-44</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>jiaoyuenvshen0.png</string>
			<key>realTextureFileName</key>
			<string>jiaoyuenvshen0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>