<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jinshudashi_i_04.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-36</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>jinshudashi_i_05.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-36.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>jinshudashi_i_06.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>387</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-36</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>jinshudashi_i_07.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>580</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-34</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>jinshudashi_i_08.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>773</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-32.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>jinshudashi_h_01.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>-32.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>jinshudashi_h_02.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>-30.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>jinshudashi_h_03.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>370</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>-30</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>jinshudashi_h_04.png</key>
			<dict>
				<key>width</key>
				<integer>173</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>545</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>-29.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>jinshudashi1.png</string>
			<key>realTextureFileName</key>
			<string>jinshudashi1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>