<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jinshudashi_a_01.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-32.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>jinshudashi_a_02.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-63</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>jinshudashi_a_03.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>361</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-72</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>jinshudashi_a_04.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>494</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-65.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>jinshudashi_a_05.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>612</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-50.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>jinshudashi_a_06.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jinshudashi_a_07.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>245</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>285</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>31.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>jinshudashi_a_08.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>515</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>31</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>jinshudashi_a_09.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>746</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>31</real>
				<key>offsetY</key>
				<real>-46.5</real>
			</dict>
			<key>jinshudashi_a_10.png</key>
			<dict>
				<key>width</key>
				<integer>242</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>459</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>jinshudashi_a_11.png</key>
			<dict>
				<key>width</key>
				<integer>245</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>459</integer>
				<key>offsetX</key>
				<real>14.5</real>
				<key>offsetY</key>
				<real>-37</real>
			</dict>
			<key>jinshudashi_a_12.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>489</integer>
				<key>y</key>
				<integer>459</integer>
				<key>offsetX</key>
				<real>-31.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>jinshudashi_r_08.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>659</integer>
				<key>y</key>
				<integer>459</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>jinshudashi_r_01.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>654</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>jinshudashi_r_02.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>654</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>jinshudashi_r_03.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>369</integer>
				<key>y</key>
				<integer>654</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>jinshudashi_r_04.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>556</integer>
				<key>y</key>
				<integer>654</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>jinshudashi_r_05.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>742</integer>
				<key>y</key>
				<integer>654</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>jinshudashi_r_06.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>827</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>jinshudashi_r_07.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>827</integer>
				<key>offsetX</key>
				<real>-16.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>jinshudashi_i_01.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>412</integer>
				<key>y</key>
				<integer>827</integer>
				<key>offsetX</key>
				<real>-32.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>jinshudashi_i_02.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>604</integer>
				<key>y</key>
				<integer>827</integer>
				<key>offsetX</key>
				<real>-33</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>jinshudashi_i_03.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>797</integer>
				<key>y</key>
				<integer>827</integer>
				<key>offsetX</key>
				<real>-35</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>jinshudashi0.png</string>
			<key>realTextureFileName</key>
			<string>jinshudashi0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>