<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jiutong_i_03.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-57.5</real>
				<key>offsetY</key>
				<real>-28.5</real>
			</dict>
			<key>jiutong_i_04.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>122</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-57.5</real>
				<key>offsetY</key>
				<real>-28</real>
			</dict>
			<key>jiutong_i_05.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>244</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-57.5</real>
				<key>offsetY</key>
				<real>-28</real>
			</dict>
			<key>jiutong_i_06.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>366</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-57</real>
				<key>offsetY</key>
				<real>-29</real>
			</dict>
			<key>jiutong_r_01.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>-49.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>jiutong_r_02.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>-52.5</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>jiutong_r_03.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>266</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>-53</real>
				<key>offsetY</key>
				<real>-27</real>
			</dict>
			<key>jiutong_r_04.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>-49.5</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>jiutong_r_05.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>-52.5</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>jiutong_r_06.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>266</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>-53</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>jiutong2.png</string>
			<key>realTextureFileName</key>
			<string>jiutong2.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>