<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wushuangjianji_a_01.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-74.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>wushuangjianji_a_02.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>74</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-52</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>wushuangjianji_a_03.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>199</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-70</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>wushuangjianji_a_04.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>342</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-92.5</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>wushuangjianji_a_05.png</key>
			<dict>
				<key>width</key>
				<integer>243</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>458</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-31</real>
			</dict>
			<key>wushuangjianji_a_06.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>702</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-33.5</real>
			</dict>
			<key>wushuangjianji_a_07.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-38</real>
			</dict>
			<key>wushuangjianji_a_08.png</key>
			<dict>
				<key>width</key>
				<integer>259</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>264</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-31.5</real>
			</dict>
			<key>wushuangjianji_a_09.png</key>
			<dict>
				<key>width</key>
				<integer>266</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>524</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>wushuangjianji_a_10.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>791</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>wushuangjianji_a_11.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>-49</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>wushuangjianji_a_12.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>129</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>-61.5</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>wushuangjianji_h_01.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>229</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>-74.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>wushuangjianji_h_02.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>303</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>-74.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>wushuangjianji_h_03.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>377</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>-62</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>wushuangjianji_h_04.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>-62</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>wushuangjianji_h_05.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>587</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>-72.5</real>
				<key>offsetY</key>
				<real>-26</real>
			</dict>
			<key>wushuangjianji_h_06.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>691</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>-72.5</real>
				<key>offsetY</key>
				<real>-26</real>
			</dict>
			<key>wushuangjianji_h_07.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>795</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>-73.5</real>
				<key>offsetY</key>
				<real>-26</real>
			</dict>
			<key>wushuangjianji_h_08.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>899</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>-73.5</real>
				<key>offsetY</key>
				<real>-26</real>
			</dict>
			<key>wushuangjianji_i_01.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>-74.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>wushuangjianji_i_02.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>74</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>-74.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>wushuangjianji_i_03.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>148</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>-76</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>wushuangjianji_i_04.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>225</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>-76</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>wushuangjianji_i_05.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>302</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>-77.5</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>wushuangjianji_i_06.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>382</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>-77.5</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>wushuangjianji_i_07.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>462</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>-76.5</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>wushuangjianji_i_08.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>540</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>-76.5</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>wushuangjianji_i_09.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>618</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>-77</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>wushuangjianji_i_10.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>697</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>-77</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>wushuangjianji_i_11.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>776</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>-75</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>wushuangjianji_i_12.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>851</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>-75</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>wushuangjianji_r_01.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>581</integer>
				<key>offsetX</key>
				<real>-65.5</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>wushuangjianji_r_02.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>581</integer>
				<key>offsetX</key>
				<real>-63</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>wushuangjianji_r_03.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>211</integer>
				<key>y</key>
				<integer>581</integer>
				<key>offsetX</key>
				<real>-61</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>wushuangjianji_r_04.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>332</integer>
				<key>y</key>
				<integer>581</integer>
				<key>offsetX</key>
				<real>-51.5</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>wushuangjianji_r_05.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>454</integer>
				<key>y</key>
				<integer>581</integer>
				<key>offsetX</key>
				<real>-48</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>wushuangjianji_r_06.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>589</integer>
				<key>y</key>
				<integer>581</integer>
				<key>offsetX</key>
				<real>-55</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>wushuangjianji_r_07.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>722</integer>
				<key>y</key>
				<integer>581</integer>
				<key>offsetX</key>
				<real>-57</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>wushuangjianji_r_08.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>851</integer>
				<key>y</key>
				<integer>581</integer>
				<key>offsetX</key>
				<real>-58</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>wushuangjianji0.png</string>
			<key>realTextureFileName</key>
			<string>wushuangjianji0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>